.Main
{
    width:100%;
    height:635px;
    background-image: url("C:\Users\HP\OneDrive\Desktop\homepageseva\home\public\assets\back.jpg");
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:absolute;
    image-resolution: 300dpi;
}

.Name
{   margin-left: 150px;
    margin-top: 202px;
    font-size: 50px;
    color: white;
}

.subname
{
    margin-left: 150px;
    font-size:37px;
    color:white;
}

.customer
{
    margin-left: 450px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(13,104,194,255);
    background-image: linear-gradient(rgba(13,104,194,255),black);
    border-color: none;
    cursor: pointer;
    border-radius: 00%;
    color: white;
}
.customer:hover
{
    opacity: 50%;
}

.pipe
{
    margin-top: 215px;
    display: flex;
    height: 40%;
}

.image
{
    display: flex;
}

.Complete-Name
{
    display: flex;
    flex-direction: column;
}

.Tanks
{
    display: flex;
    width:20%;
    height: 20%;
    margin-top: 325px;
    margin-left: 14px;
}